.title {
	font-weight: bold;
	font-size: 30px;
}

h1 {
    color : white;
    text-align: center;
    margin: 3%;
}

body {
  font-family: sans-serif;
  background-color: #000;
}

.file-upload {
  background-color: #BDBDBD;
  width: 75%;
  margin: 0 auto;
  padding: 5%;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 3%;
  margin-bottom: 3%;
  border: 1.5px dashed #F6CEF5;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #F6CEF5;
  border: 8px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 5px 5px 5px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h1 {
  font-weight: 50;
  text-transform: uppercase;
  color: #fff;
  padding: 50px 0;
  font-size: 30px
}

.drag-text h5 {
  font-weight: 100;
  text-transform: uppercase;
  color: #000;
  padding: 10px 0;
}

.file-upload-image {
  max-height: 70%;
  max-width: 70%;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 150px;
  margin: 3%;
  color: #000;
  background: #F6CEF5;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #FA58F4;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700px;
}

.remove-image:hover {
  background: #fff;
  color: #000;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}



@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 10px;
  }
}

